body {
  display: block;
  overflow-x: hidden;
}

nav {
  background-color: rgba(187, 133, 182, 0.2)
}

span {
  font-size: 5rem;
}

.button-spacer {
  margin-top: 20px;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
}

.navbar-nav {
  margin-top: -6px;
}

nav ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}

nav ul li a:hover {
  color: #683aa4;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
  text-align: left;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  font-weight: 300;
}

button {
  max-width: 50%;
  border-radius: 50px !important;
}

textarea {
  height: 100px;
  width: 500px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form input {
  margin-bottom: -50px;
  margin-top: -50px;
}

.nav-link {
  color: rgb(0, 0, 0);
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
  margin-bottom: 85px;
  margin-right: 65px;
}

#hero img {
  max-width: 130% !important;
  width: 130%;
}

#hero .card {
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 0;
  text-align: center;
}

#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

#projects .projects {
  margin-bottom: 50px;
}

#contact {
  text-align: center;
  background-color: rgba(187, 133, 182, 0.2);
  color: black;
}

#contact h1 {
  text-align: center;
  color: #683aa4;
  border-radius: 5px;
  padding: 5px;
}

.text-dark {
  text-decoration: underline;
  text-decoration-color: #683aa4;
  text-decoration-thickness: 10%;
}

.card-text {
  padding: 10px 0px;
}

.navleft {
  float: left;
  width: 100%;
}

.navright {
  float: right;
  width: 3%;
}